@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0A141E;

  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.random {
  background-image: url("https://id.portal-pokemon.com/play/resources/pokedex/img/random_bg.png");
  background-size: cover;
}
